@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

.weather-list-item {
    @apply border-t border-t-gray-300 text-gray-800 dark:text-gray-200 py-2 text-sm flex justify-between px-4;
}